/**
 * Syntax highlighting styles (dark theme)
 */
.highlight {
    background: #1e1e2e;
    @extend %vertical-rhythm;

    .c     { color: #6c7086; font-style: italic } // Comment
    .err   { color: #f38ba8 } // Error
    .k     { color: #cba6f7; font-weight: bold } // Keyword
    .o     { color: #89dceb } // Operator
    .cm    { color: #6c7086; font-style: italic } // Comment.Multiline
    .cp    { color: #6c7086; font-weight: bold } // Comment.Preproc
    .c1    { color: #6c7086; font-style: italic } // Comment.Single
    .cs    { color: #6c7086; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #f38ba8; background-color: #31202a } // Generic.Deleted
    .gd .x { color: #f38ba8; background-color: #42202a } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #f38ba8 } // Generic.Error
    .gh    { color: #cdd6f4 } // Generic.Heading
    .gi    { color: #a6e3a1; background-color: #20312a } // Generic.Inserted
    .gi .x { color: #a6e3a1; background-color: #20422a } // Generic.Inserted.Specific
    .go    { color: #a6adc8 } // Generic.Output
    .gp    { color: #a6adc8 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #94e2d5 } // Generic.Subheading
    .gt    { color: #f38ba8 } // Generic.Traceback
    .kc    { color: #cba6f7; font-weight: bold } // Keyword.Constant
    .kd    { color: #cba6f7; font-weight: bold } // Keyword.Declaration
    .kp    { color: #cba6f7 } // Keyword.Pseudo
    .kr    { color: #cba6f7; font-weight: bold } // Keyword.Reserved
    .kt    { color: #f9e2af } // Keyword.Type
    .m     { color: #fab387 } // Literal.Number
    .n     { color: #cdd6f4 } // Name
    .s     { color: #a6e3a1 } // Literal.String
    .na    { color: #89b4fa } // Name.Attribute
    .nb    { color: #89dceb } // Name.Builtin
    .nc    { color: #f9e2af; font-weight: bold } // Name.Class
    .no    { color: #fab387 } // Name.Constant
    .ni    { color: #cdd6f4 } // Name.Entity
    .ne    { color: #f38ba8; font-weight: bold } // Name.Exception
    .nf    { color: #89b4fa; font-weight: bold } // Name.Function
    .nn    { color: #f9e2af } // Name.Namespace
    .nt    { color: #cba6f7 } // Name.Tag
    .nv    { color: #cdd6f4 } // Name.Variable
    .ow    { color: #89dceb; font-weight: bold } // Operator.Word
    .w     { color: #585b70 } // Text.Whitespace
    .mf    { color: #fab387 } // Literal.Number.Float
    .mh    { color: #fab387 } // Literal.Number.Hex
    .mi    { color: #fab387 } // Literal.Number.Integer
    .mo    { color: #fab387 } // Literal.Number.Oct
    .sb    { color: #a6e3a1 } // Literal.String.Backtick
    .sc    { color: #a6e3a1 } // Literal.String.Char
    .sd    { color: #a6e3a1 } // Literal.String.Doc
    .s2    { color: #a6e3a1 } // Literal.String.Double
    .se    { color: #fab387 } // Literal.String.Escape
    .sh    { color: #a6e3a1 } // Literal.String.Heredoc
    .si    { color: #fab387 } // Literal.String.Interpol
    .sx    { color: #a6e3a1 } // Literal.String.Other
    .sr    { color: #94e2d5 } // Literal.String.Regex
    .s1    { color: #a6e3a1 } // Literal.String.Single
    .ss    { color: #f2cdcd } // Literal.String.Symbol
    .bp    { color: #89dceb } // Name.Builtin.Pseudo
    .vc    { color: #cdd6f4 } // Name.Variable.Class
    .vg    { color: #cdd6f4 } // Name.Variable.Global
    .vi    { color: #cdd6f4 } // Name.Variable.Instance
    .il    { color: #fab387 } // Literal.Number.Integer.Long
}
